.box {
    width: 500px;
    height: 400px;
    background-color: rgb(8, 57, 8);
    border: 1px solid black;
}

.result {
    width: 200px;
    height: 150px;
    background-color: rgb(111, 111, 179);
    color: white;
}

.content {
    width: 300px;
    height: 100vh;
    background-color: brown;
    border-radius: 10px;
}